**Summmary:**

In [ ]:
import pandas as pd
import gzip
import json


def parse(path):
  g = open('Data/' + path, 'r')
  for l in g:
    yield json.loads(l)



wyoming_reviews = pd.DataFrame(parse("review-Wyoming.json"))
wyoming_metadata = pd.DataFrame(parse("meta-Wyoming.json"))

In [6]:
wyoming_reviews.describe() #contains business_id, user_id, rating, timestamp

               time        rating
count  1.141421e+06  1.124371e+06
mean   1.551605e+12  4.275937e+00
std    4.254564e+10  1.159063e+00
min    1.149466e+12  1.000000e+00
25%    1.526529e+12  4.000000e+00
50%    1.556485e+12  5.000000e+00
75%    1.581371e+12  5.000000e+00
max    1.631038e+12  5.000000e+00

In [ ]:
wyoming_reviews.head() #individual reviews with rating and time and user_id
#by user id

,user_id,name,time,rating,text,pics,resp,gmap_id
0,115646077423418438821,Sheri Burke,1570739784825,5.0,Jeff is prompt and really understanding. He h...,None,None,0x875901dbacdf1fb7:0x5e0aea8e0909ba5c
1,105099928136753216602,Roxanne Norse,1505421891766,5.0,I highly recommend High Mountain Electric. Je...,None,None,0x875901dbacdf1fb7:0x5e0aea8e0909ba5c
2,115843664516717640522,Rachel Velarde,1550017414366,5.0,Jeff provided prompt service and could fit me ...,None,None,0x875901dbacdf1fb7:0x5e0aea8e0909ba5c
3,103613723635264236030,Michelle Barta,1504928708627,5.0,Jeff has been great to work with and has accom...,None,None,0x875901dbacdf1fb7:0x5e0aea8e0909ba5c
4,113597382441988504332,Vivian Swallow,1598022469876,5.0,Awesome service very responsive!!!,None,None,0x875901dbacdf1fb7:0x5e0aea8e0909ba5c

We dont have rating text here or the geomap so we will need to transform the JSON to get some of that but it looks like the **GOLD** is in the meta data from the JSON file since this is the **ONLY CSV**

The GMAP_ID is the ID of the business itself so we could join tables pretty easy if we needed to on that but would need to **Group by the business** on some bound so we dont repeat the business and increase the size of the table.

In [7]:
wyoming_metadata.describe()
#contains business_id, review description, loccation, secotr/category, average rating, num reviews, hours
#Relative_reviews?, and the googlemap_link

           latitude     longitude    avg_rating  num_of_reviews
count  12088.000000  12088.000000  12088.000000    12088.000000
mean      42.838478   -107.331875      4.351390       94.425960
std        1.308922      4.310935      0.615873      251.544278
min       28.647890   -124.095378      1.000000        1.000000
25%       41.505566   -109.234262      4.100000        7.000000
50%       42.848831   -106.928926      4.500000       18.000000
75%       44.208012   -105.494646      4.800000       78.000000
max       45.000715    180.000000      5.000000     9998.000000

In [ ]:
wyoming_metadata.head()
#by business wtih aggregate data

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,High Mountain Electric LLC,"High Mountain Electric LLC, 1 Phyllis Lynn Dr,...",0x875901dbacdf1fb7:0x5e0aea8e0909ba5c,None,42.823146,-108.718111,[Electrician],5.0,8,None,"[[Thursday, 7AM–6PM], [Friday, 7AM–6PM], [Satu...",None,Open ⋅ Closes 6PM,"[0x875901dcf774b6dd:0xcdb95cc1646e5b1f, 0x8759...",https://www.google.com/maps/place//data=!4m2!3...
1,HealthSource Chiropractic of Riverton,"HealthSource Chiropractic of Riverton, 910 N 8...",0x8758dd38d63c9017:0xe4bca45ee1b90b43,None,43.034454,-108.400955,"[Chiropractor, Alternative medicine practition...",5.0,33,None,"[[Thursday, 8:30–11AM], [Friday, 8AM–1:30PM], ...","{'Highlights': ['LGBTQ friendly'], 'Accessibil...",Closed ⋅ Opens 8:30AM,"[0x8758dd1d10c1bbe3:0x3588bcff90668608, 0x8758...",https://www.google.com/maps/place//data=!4m2!3...
2,Cornerstone Group Realty,"Cornerstone Group Realty, 215 S Broadway Ave, ...",0x8758dd1ca83449d9:0xb6156dcfc5e04c9b,None,43.022906,-108.386042,"[Real estate agency, Commercial real estate ag...",4.9,8,None,"[[Thursday, 8AM–5PM], [Friday, 8AM–5PM], [Satu...",{'From the business': ['Identifies as women-le...,Opens soon ⋅ 8AM,"[0x8758dd1eaa8a8c83:0xfeb3a6a74a89845b, 0x8758...",https://www.google.com/maps/place//data=!4m2!3...
3,Paynes Auto Glass,None,0x8758dddbbeda154b:0xacb5e2d1f7c14bea,None,43.135256,-108.777531,"[Glass repair service, Service establishment]",5.0,3,None,"[[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu...",None,Closed ⋅ Opens 9AM,"[0x8758dd20a2430dd7:0x913266cb92202cd, 0x8758d...",https://www.google.com/maps/place//data=!4m2!3...
4,Central Bank & Trust,"Central Bank & Trust, 220 N Federal Blvd, Rive...",0x8758dd1d9178ee89:0x5e4228c3b4cffefb,None,43.026458,-108.381002,"[Bank, ATM]",4.0,8,None,"[[Thursday, 8:30AM–5PM], [Friday, 8:30AM–6PM],...","{'Service options': ['Drive-through'], 'Access...",Closed ⋅ Opens 8:30AM,"[0x8758dd27e6e6869f:0x520398d1843d971e, 0x8758...",https://www.google.com/maps/place//data=!4m2!3...

Did the state column load in properly?